body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #191b6d; /* 60% blue */
    color: #cc0000; /* White text on the blue background */
    position: relative; 
}

h1, h2 {
    color: #cc0000; /* White text */
    text-align: center;
}

p {
    color: #39FF14;
    padding: 10px;
}
#cinema-page {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#map {
    background-color: #cc0000; /* 30% red */
    margin: 20px;
    border-radius: 8px;
}

#politics-map {
    height: 300px;
    width: 100%;
}


.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between links */
}

.navigation a {
    text-decoration: none;
    color: #39FF14; /* Neon Green */
}

.navigation a:hover {
    text-decoration: underline;
}

.mood-image {
    width: 50%; 
    max-height: 300px; 
    object-fit: fill; 
}

.book {
    width: 100%; 
    max-height: 800px; 
    object-fit: fill; 
}

.music {
    width: 100%; 
    max-height: 800px; 
    object-fit: fill; 
}

.politics {
    width: 100%; 
    max-height: 700px; 
    object-fit: fill; 
}
.menu a {
    color: #00FF00; /* Neon Green */
    text-decoration: none; /* Remove underlines from links */
}

.menu a:hover {
    text-decoration: underline; /* Add underline on hover */
}


.US_flag {
    position: fixed;
    bottom: 250px; 
    right: 10px; 
    display: block;
    width: 500px;
    height: 20px;
    background: #cc0000;
    box-shadow: 0 20px 0 #f3f3f3, 0 40px 0 #cc0000, 0 60px 0 #f3f3f3, 0 80px 0 #cc0000, 0 100px 0 #f3f3f3, 0 120px 0 #cc0000, 0 140px 0 #f3f3f3, 0 160px 0 #cc0000, 0 180px 0 #f3f3f3, 0 200px 0 #cc0000, 0 220px 0 #f3f3f3, 0 240px 0 #cc0000;
}

.US_flag:before {
    content: "\0020";
    background: #191b6d;
    display: block;
    width: 200px;
    height: 140px;
    position: absolute;
}

.US_flag:after {
    content: "\2605";
    font-size: 14px;
    color: #f3f3f3;
    display: block;
    width: 500px;
    position: absolute;
    margin-left: 5px;
    text-shadow: 35px 0 0 #f3f3f3, 70px 0 0 #f3f3f3, 105px 0 0 #f3f3f3, 140px 0 0 #f3f3f3, 175px 0 0 #f3f3f3, 17px 14px 0 #f3f3f3, 52px 14px 0 #f3f3f3, 87px 14px 0 #f3f3f3, 122px 14px 0 #f3f3f3, 157px 14px 0 #f3f3f3, 0 28px 0 #f3f3f3, 35px 28px 0 #f3f3f3, 70px 28px 0 #f3f3f3, 105px 28px 0 #f3f3f3, 140px 28px 0 #f3f3f3, 175px 28px 0 #f3f3f3, 17px 42px 0 #f3f3f3, 52px 42px 0 #f3f3f3, 87px 42px 0 #f3f3f3, 122px 42px 0 #f3f3f3, 157px 42px 0 #f3f3f3, 0 56px 0 #f3f3f3, 35px 56px 0 #f3f3f3, 70px 56px 0 #f3f3f3, 105px 56px 0 #f3f3f3, 140px 56px 0 #f3f3f3, 175px 56px 0 #f3f3f3, 17px 70px 0 #f3f3f3, 52px 70px 0 #f3f3f3, 87px 70px 0 #f3f3f3, 122px 70px 0 #f3f3f3, 157px 70px 0 #f3f3f3, 0 84px 0 #f3f3f3, 35px 84px 0 #f3f3f3, 70px 84px 0 #f3f3f3, 105px 84px 0 #f3f3f3, 140px 84px 0 #f3f3f3, 175px 84px 0 #f3f3f3, 17px 98px 0 #f3f3f3, 52px 98px 0 #f3f3f3, 87px 98px 0 #f3f3f3, 122px 98px 0 #f3f3f3, 157px 98px 0 #f3f3f3, 0 112px 0 #f3f3f3, 35px 112px 0 #f3f3f3, 70px 112px 0 #f3f3f3, 105px 112px 0 #f3f3f3, 140px 112px 0 #f3f3f3, 175px 112px 0 #f3f3f3, 17px 126px 0 #f3f3f3, 52px 126px 0 #f3f3f3, 87px 126px 0 #f3f3f3, 122px 126px 0 #f3f3f3, 157px 126px 0 #f3f3f3;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 25%;
    background-color: #187708; /* 30% red */
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 20px;
    margin: 20px;
}